<div class="class container mt-5">
    <div class="class row">
        <div class="class col-lg-8 offset-lg-2">
            <div class="class card">
                <div class="class card-body text-center">
                    <span>LISTADO DE MEDICOS</span>
                    <button class="btn btn-success float-end"> NUEVO</button>
                    <table class="table table-info mt-5">
                        <thead>
                          <tr>
                            <th scope="col">Primer Nombre</th>
                            <th scope="col">Segundo Nombre</th>
                            <th scope="col">Primer Apellido</th>
                            <th scope="col">Segundo Apellido</th>
                            <th scope="col">Firma</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Miller</td>
                            <td>Albeiro</td>
                            <td>Puentes</td>
                            <td>Lozano</td>
                            <td>mpuentesp</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Jose</td>
                            <td>Nielsen</td>
                            <td>Puentes</td>
                            <td>Castañeda</td>
                            <td>jpuentesc</td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
